.dashboardLayout {
    display: grid;
    grid-template-rows: 4rem 1fr 4rem;
    grid-template-columns: 15rem 1fr;
    height: 100vh;
}


@media (max-width: 640px) {
    .dashboardLayout {
      grid-template-columns: 1fr;
    }
  }